name: Update README

  
on:
  schedule:
    - cron: '*/10 * * * *'
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

   
      - name: Update README
        run: |
          # Get the current date and time

          CURRENT_DATETIME=$(TZ="Asia/Bangkok" date  -u +"%d-%m-%Y - %H:%M")

          # Generate the new README content
          echo "# Welcome , i'm Nem" > README.md
          echo "This date time is dynamically generated." >> README.md
          echo "## Latest Update: $CURRENT_DATETIME" >> README.md
          # Commit and push the changes
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add README.md
          git commit -m "Update README with current date and time"
          git push --force
